.App {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.time {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.buttons {
  display: flex;
  justify-content: center;
  
}

button {
  
  font-size: 16px;
  cursor: pointer;
}
